<div class="mb-3">
    <input type="{{type}}"
        [class.is-invalid]="control.touched && control.invalid"
        placeholder="{{label}}" 
        class="form-control" 
        [formControl]="control">
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Please enter a {{type}}
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minLength']">
        {{label}} must be at least {{control.errors?.['minlenght'].reqiuredLenght}} characters long
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxLength']">
        {{label}} must be at most {{control.errors?.['maxlenght'].reqiuredLenght}} characters long
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
        Passwords are not equal
    </div>
</div>
