.img-thumbnail{
    margin: 2rem;
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.card-body{
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
}
.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}
