.main-photo {
    border: 2px solid rgb(255, 0, 123);
}

.nv-file-over {
    border: 2px solid rgb(255, 0, 123);;
    
}

.my-drop-zone {
    border: 3px solid transparent;
}

input[tyoe=file]{
    color: transparent;
}